/**
 * Mozilla Tech Speakers theme for reveal.js. This is the based on the 'white' theme.
 *
 * By Miguel Useche, https://migueluseche.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/zilla-slab/zilla-slab.css);


// Override theme settings (see ../template/settings.scss)

$mainBg: #fff;
$mainColor: #222;
$headingColor: #654ff0;

$mainFontSize: 42px;
$mainFont: 'ZillaSlab', Helvetica, sans-serif;
$headingFont: 'ZillaSlab', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$blockquote: #eee;

$keySlideBg: #333;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

body { background: $mainBg }
strong { color: $keySlideBg; }

.left {text-align: left;}
.right {text-align: right; }
.center {text-align: center; }
.third { width: 33%; display:inline-block;}
.twothirds { width: 66%; display:inline-block;}
.half { width: 50%; }
.float-left { float: left}
.float-right { float: right}
.clear { clear: both }
.red { color: red !important }

.reveal {
	blockquote {background-color: $blockquote; }

	.white { color: white; }

	h1, h2, h3 {
		font-family: 'ZillaSlabHighlight';
		color: $headingColor;
    }

    h1 {
    	font-size: 4rem;
    }

    h2 {
    	color: $headingColor;
    	font-size: 3.5rem;
		font-weight: normal;

		&.title {
	    	color: white;
	    	background: $keySlideBg;
			font-family: 'ZillaSlab';
	    }
    }
    h4 {
    	margin-bottom: 0;
    }

    .avatar {
    	border-color: #fff;
		border-radius: 13rem;
		max-width: 20rem;
    }

    .third, .twothirds {  vertical-align: top;  }

    section.has-dark-background {
    	h2 {
    		color: #000 !important;
    	}

    	h3 {
    		font-family: ZillaSlab;
    	}

    	strong, a.yellow {
			color: #ecd78e;
    	}

    	a {
    		color: #8ed0ec;
    	}

    	.white { color: white; }
    }

	section {
		header { 
			background: $keySlideBg;
			h2 {
				background: #fff;
				width: auto;

			}
		}
		img {
			border-color: $keySlideBg;
			margin: 0;
			background: none;
		}
		
    	img.noborder { border: 0; box-shadow: none; }
    	img.padding { padding: 15px }
	}

	div.half {
		display: inline-block;
		vertical-align: top;
		width: 50%; 
	}

	.small {
		font-size: 1.4rem;
	}

	.social {
		font-size: 1.8rem;
	}

	li {
		pre {
			margin: 20px 0px;
		}
		
	}

	.dark-bg {
		h1, h2, h3 {
			color: white;
		}
		background: rgba(0,0,0, .60);
		color: white;
		padding: 1rem;
	}

	.firefox {
		color: $linkColor;
	}

	.compile-process {
		background: #000;
		box-shadow: 0 0 10px #333;
		color: #fff;
		padding: 25px;

		.c { color: #AAC}
		.llvm { color: #FF9000}
		.emscripten { color: #ACA}
		.asm { color: #FF3333}
		.wasm { color: $headingColor }
	} 
}

#main {
	h1, h2 {
		text-align: left;
	}

	h2 {
		font-size: 3rem;
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.5rem;
	}
}

#speaker {
	.avatar {
		float: left;
		max-width:100%;
	}
	ul {
		margin-left: 5rem;
	}

	.communities {
		max-height: 2rem;
	}
}

.emoji {
	width: 2rem;
}